@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #d6b58c, #e6b07c);
    color: #333;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #714837;
    margin-bottom: 20px;
}

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
  
}

.contact-form label {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #714837;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e6b07c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: #d6b58c;
}

.separator {
    width: 2px;
    background-color: #0b6bdf;
    height: 380px;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
  
}

.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #1e5799;
}

.contact-info p {
    margin: 10px 0;
    font-size: 1rem;
}

.contact-info .social-media {
    margin-top: 20px;
}

.contact-info .social-media a {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #1e5799;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info .social-media a:hover {
    color: #0b6bdf;
}

@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .separator {
        display: none;
    }

    .contact-form,
    .contact-info {
        width: 100%;
        text-align: center;
    }

    .contact-info {
        padding: 10px;
    }
}
