/* Footer Styles */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    font-family: 'Lexend',sans-serif;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.footer-social {
    margin: 20px 0;
}

.footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #d79720;
}

.footer-address p {
    margin: 5px 0;
}

.footer-bottom p {
    font-size: 0.9rem;
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .footer-social a {
        font-size: 1.2rem;
        margin: 0 8px;
    }

    .footer-address p {
        font-size: 0.9rem;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }
}
